@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
header,
nav,
main,
footer {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

main,
article {
    min-height: 35em;
}

header {
    background-color: #E4399E;
    border-bottom: 1px solid #CF2287;
    border-top: 1px solid #CF2287;
    margin-bottom: 1.5em;
}
header h1 { margin: 0px; line-height: 2em;}
header a, header a:hover { color: white; text-decoration: none; }

footer {
    margin-top: 3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: #CCC;
    border-top: 1px solid #f0f0f0;
}
footer a { color: #CCC }
footer a:hover { color: #E4399E; text-decoration: none; background-color: transparent; }
footer div.copy_right {
    font-size: 0.8em;
    float: right;
}
a {
    text-decoration: none;
    color: #E4399E;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: #E4399E;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
}
ul.posts li{
    padding-top: .2em;
    padding-bottom: .2em;
}
div.highlight pre {
    padding: .4em;
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
}