/**
  * Zero css
  */

body {
  padding: 0px;
  margin: 0px;
}
body a {
  color: rgba(230, 35, 120, 0.9);
  text-decoration: none;
}
body a:hover {
  color: #fba416;
}
.header-inner {
  height: 58px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 88;
  overflow: hidden;
  border-bottom: 2px solid rgb(230, 35, 120);
  background-color: rgb(230, 35, 120);
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
}
.header-inner a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header-inner a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#post-header {
  display: none;
}
.header-wrap  {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-wrap .title {
  margin: auto 18px;
}
.header-band {
  height: 60px;
  display: block;
}
.main-inner {
  background-color: rgb(245, 247, 249);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main-inner .content-wrap {
  width: calc(100vw - 305px);
  flex: 1;
  display: inline-block;
}
.main-content {
  margin: 18px;
  padding: 18px;
  background-color: #FFF;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}
.sidebar {
  height: 100%;
  width: 305px;
}
/* 媒体查询 */
@media (max-width:1000px){
  .sidebar {
    display: none;
  }
}
.sidebar-inner {
  width: 287px;
  overflow: hidden;
}
.sidebar-wrap.affix {
  position: relative;
}
.sidebar-wrap {
  margin: 18px 0px;
  background-color: #FFF;
  padding: 18px;
}
.footer-inner {
  padding: 18px;
  text-align: center;
  color: #243b65;
  background-color: rgb(245, 247, 249);
}
.footer-inner a {
  color: #243b65;
  text-decoration: none;
}

.footer-inner a:hover {
  color: rgb(230, 35, 120);
}

.copyright {
  color: rgba(0, 0, 0, 0.2);
}
.copyright a {
  color: rgba(0, 0, 0, 0.3);
}

/* fix 滚动条 */
.highlight pre {
  padding: 15px;
  border-radius: 6px;
  overflow-x: auto;
}
.post-body pre {
  overflow-x: auto;
}

/* 文章分页 */
article .paginate {
  border-top: 1px solid #EEE;
  margin-top: 18px;
  padding-top: 18px;
  display: flex;
}

article .paginate .prev {
  display: inline-block;
  text-align: left;
}
article .paginate .paginate-divider {
  flex: 1;
}
article .paginate .next {
  display: inline-block;
  text-align: right;
}

/* 文章版权 */
#post-copyright dl{
  padding: 8px 16px;
  border-left: 3px solid rgb(230, 35, 120);
  background-color: rgb(249, 249, 249);
  color: rgba(0, 0, 0, .8)
}
#post-copyright dl dt {
  margin: 8px auto;
}
/* 赞赏，支持 */
#post-donate div {
  text-align: center;
}
.donate-message {
  font-size: 1.8em;
  font-weight: bold;
}
/* 赞赏方式 */
.donate-way {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 站点信息 */
.site-info  {
  text-align: center;
  margin: 20px auto;
}
.site-info .site-logo {
  margin-bottom: 6px;
}
.site-info .site-logo img {
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 1px solid #eee;
}
.site-info .site-statis {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.site-info .site-statis .statis-number {
  display: inline-block;
  min-width: 58px;
  border-right: 1px solid #EEE;
}
.site-info .site-statis .statis-number:last-child{
  border-right: none;
}
.site-info .site-rss {
  margin: 20px auto;
  padding: 10px 0px;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}

/* 作者链接 */
.author-link-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.author-link-wrap .author-link {
  padding: 0px 8px;
}

/* 站点导航 */
.site-nav .menu-list {
  position: relative;
}
.site-nav .menu-list .menu-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 16px auto;
  padding-left: 8px;
  border-left: 3px solid #FFF;
}
.site-nav .menu-list .menu-item-active {
  border-left: 3px solid rgb(230, 35, 120);
}
/* 日志目录 */
.post-toc .title {
  font-size: 12px;
  margin-bottom: 8px;
  color: #808080;
}
.post-toc-content ul {
  padding: 0px 2px 5px 10px;
  margin: 0px;
  text-align: left;
  font-size: 14px;
}
.post-toc-content li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.6;
}
